.footerbox{
  width: 100%;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  background-color: black;
  color: white;
  text-align: center;

  .footimg1{
    position: absolute;
    width: 100%;
    bottom: 80px;
    left: 0;
    z-index: 1;
  }

  .footimg2{
    position: absolute;
    width: 700px;
    bottom: 0px;
    left: 3%;
    z-index: 2;
  }
}

