@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");


.gamebox-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 2048px;
  height: 100vh;
  min-height: 1020px;
  margin: auto;
  font-family: "Jua", sans-serif;
  background-image: url("@/assets/game/back2.png");
  background-size: 100%;
  background-position: center;


  .videomainbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1900px;
    padding-bottom: 50px;

    .videobox {
      margin: 10px;

      video {
        width: 355px;
        background-color: orange;
        border: 3px solid white;
      }
      canvas {
        width: 355px;
        background-color: orange;
        border: 3px solid white;
      }
      div {
        width: 355px;
        height: 30px;
        line-height: 30px;
        padding-left: 5px;
        background-color: #ffffff;
      }
    }
  }

  .messagebox {
    width: 750px;
    height: 400px;
    margin: auto;
    background-color: grey  ;
    border: 10px solid whitesmoke;
  }
  .timerbox {
    width: 450px;
    height: 300px;
    margin: auto;
    background: grey;
    border: 4px solid whitesmoke;
  }
  .chatbox {
    width: 450px;
    height: 300px;
    margin: auto;
    background: salmon;
    border: 4px solid whitesmoke;
  }
}

.gamebox-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 2048px;
  height: 100vh;
  min-height: 1020px;
  margin: auto;
  font-family: "Jua", sans-serif;
  background-image: url("@/assets/game/night.png");
  background-size: 100%;
  background-position: center;



  .videomainbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1900px;
    padding-bottom: 50px;

    .videobox {
      margin: 10px;

      video {
        width: 355px;
        background-color: orange;
        border: 3px solid white;
      }
      canvas {
        width: 355px;
        background-color: orange;
        border: 3px solid white;
      }
      div {
        width: 355px;
        height: 30px;
        line-height: 30px;
        padding-left: 5px;
        background-color: #ffffff;
      }
    }
  }

  .messagebox {
    width: 750px;
    height: 400px;
    margin: auto;
    background-color: white;
    border: 10px solid black;
  }
  .timerbox {
    width: 450px;
    height: 300px;
    margin: auto;
    background: grey;
    border: 4px solid black;
  }
  .chatbox {
    width: 450px;
    height: 300px;
    margin: auto;
    background: salmon;
    border: 4px solid black;
  }
}
