@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.gamebox-first {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  font-family: "Jua", sans-serif;
  background-image: url("@/assets/game/back2.png");
  background-size: 140%;
  background-position: center;

  .dayTimeBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0 20px 0;
    vertical-align: middle;

    .timerbox {
      height: 50px;
      width: 650px;
      background:#fff;
      border: 4px solid #fbbf24;
    }
    .chatbox {
      height: 50px;
      width: 150px;
      background: #fbbf24;
      border: 4px solid #fbbf24;
      text-align: center;
      padding: 10px 0;
    }
  }

  .videomainbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1900px;
    padding-bottom: 50px;
  }

  .messagebox {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    width: 800px;
    height: 400px;
    // margin: auto;
    background-color: rgba(255, 255, 255, 0.927);
    border: 5px solid #fbbf24;
    font-size: 25px;
    // padding-top: 20px;
    // text-align: center;
  }
}


/////////////////////////// ë°¤ ////////////////////


.gamebox-second {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  font-family: "Jua", sans-serif;
  background-image: url("@/assets/game/night.png");
  background-size: 140%;
  background-position: center;

  .dayTimeBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0 20px 0;
    vertical-align: middle;

    .timerbox {
      height: 50px;
      width: 650px;
      background: #fff;
      border: 4px solid #fbbf24;
    }
    .chatbox {
      height: 50px;
      width: 150px;
      background: #fbbf24;
      border: 4px solid #fbbf24;
      text-align: center;
      padding: 10px 0;
    }
  }

  .videomainbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1900px;
    padding-bottom: 50px;
  }

  .messagebox {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    width: 800px;
    height: 400px;
    // margin: auto;
    background-color:rgba(0, 0, 0, 0.879);
    color: white;
    border: 5px solid #fbbf24;
    font-size: 25px;
    // padding-top: 20px;
    // text-align: center;
  }
}
