@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.gamebox-first {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  font-family: "Jua", sans-serif;
  background-image: url("@/assets/game/back2.png");
  background-size: 120%;
  background-position: center;

  .dayTimeBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0 20px 0;
    vertical-align: middle;

    .timerbox {
      height: 50px;
      width: 650px;
      background:#fff;
      border: 4px solid #fbbf24;
    }
    .chatbox {
      height: 50px;
      width: 100px;
      background: #fbbf24;
      border: 4px solid #fbbf24;
      text-align: center;
      padding: 10px 0;
    }
  }

  .videomainbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1900px;
    padding-bottom: 50px;
  }

  .messagebox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 400px;
    // margin: auto;
    background-color: #fff;
    border: 5px solid #fbbf24;
  }
}

.gamebox-second {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  font-family: "Jua", sans-serif;
  background-image: url("@/assets/game/night.png");
  background-size: 120%;
  background-position: center;

  .dayTimeBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0 20px 0;
    vertical-align: middle;

    .timerbox {
      height: 50px;
      width: 650px;
      background: #fff;
      border: 4px solid #fbbf24;
    }
    .chatbox {
      height: 50px;
      width: 100px;
      background: #fbbf24;
      border: 4px solid #fbbf24;
      text-align: center;
      padding: 10px 0;
    }
  }
  .videomainbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: auto;
    width: 100%;
    max-width: 1900px;
    padding-bottom: 50px;
  }

  .messagebox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 620px;
    height: 360px;
    // margin: auto;
    background-color:#fff;
    border: 3px solid whitesmoke;
  }
}
