@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.homebox{
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  min-width: 1106px;
  margin: 0 auto;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
  z-index: 5;

  .bannerbox{
    width: 100%;
  }

  .homeprofile{
    width: 100%;
    height: 206px;
    margin-top: 0;
    margin-left: 0;
    background-color: rgb(73, 73, 73);
  }

  .readbox{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 5% 0 26%;
    height: 500px;

    .tabcontent{
      display: flex;
      flex-wrap: wrap;

      .tabtitlebox{
        color: white;
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        padding-right: 50px;
        margin: 10px 0;
        border-bottom: 1px solid white;

        .mtb1{
          width: 80px;
        }
        .mtb2{
          width: 450px;
        }
        .mtb3{
          width: 150px;
        }
        .mtb4{
          width: 200px;
        }
        .mtb5{
          width: 80px;
        }
        .mtb6{
          width: 80px;
        }

      }

      .montpostbox{
        color: white;
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        padding-right: 50px;
        margin: 10px 0;
        .mtb1{
          width: 80px;
        }
        .mtb2{
          width: 450px;
        }
        .mtb3{
          width: 150px;
        }
        .mtb4{
          width: 200px;
        }
        .mtb5{
          width: 80px;
        }
        .mtb6{
          width: 80px;
        }
      }

    }

    input{
      display: none;
      &:checked + label{
        color: orange;
        border-bottom: 5px solid orange;
      }

    }

    label{
      display: inline-block;
      cursor: pointer;
      width: 150px;
      height: 50px;
      line-height: 50px;
      color: white;
      border-bottom: 5px solid rgb(0, 0, 0);
    }

    .tabcontent{
      width: 100%;
      height: 380px;
      margin: 0 auto;
      display: none;
//      border: 2px solid black;
    }

  #tab1:checked ~ .box1{
        display: block;
  }
    #tab2:checked ~ .box2{
      display: block;
  }
  #tab3:checked ~ .box3{
    display: block;
  }
  }
}
