@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.homeBox{
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-width: 1106px;
  margin: 0 auto;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
  padding-bottom: 50px;
  z-index: 8;
  position: relative;

  .bannerBox{
    width: 100%;
    height: 350px;
  }

  .homeProFile{
    width: 100%;
    height: 186px;
    margin-top: 0;
    margin-left: 0;
    background-color: rgb(73, 73, 73);
    z-index: 8;
    background-image: url("@/assets/homeimg/bac.jpg");
    background-size: 1950px 470px;
    display: flex;
    justify-content: space-between;

    .guideBox{
      width: 100%;
      max-width: 1500px;
      min-width: 1100px;
      display: flex;
      justify-content: space-between;



      .guides1{
        border: 3px solid gray;
        background-color: rgb(206, 206, 206);
        width: 280px;
        height: 150px;
        margin: auto;
        position: relative;
        border-radius: 20px;
        overflow: hidden;


          &:hover{
            animation: size1 0.5s;
            animation-fill-mode: forwards;
            .yimg1{
                animation: yimg1 0.5s;
                animation-fill-mode: forwards;
            }

          }
        .yimg1{
          position: absolute;
          top: 5px;
          left: 29%;
          width: 40%;
        }
        .gpBox{
          position: absolute;
          background-color: black;
          color: white;
          text-align: center;
          bottom: 0;
          height: 80px;
          border-radius: 0 0 17px 17px;
          width: 100%;
          .gp1{
            font-size: 30px;
            line-height: 60px;
          }
          .gp2{
            font-size: 20px;
            line-height: 10px;
          }
        }
      }

      .guides2{
        border: 3px solid gray;
        background-color: rgb(206, 206, 206);
        width: 280px;
        height: 150px;
        margin: auto;
        position: relative;
        border-radius: 20px;
        overflow: hidden;


        &:hover{
          animation: size1 0.5s;
          animation-fill-mode: forwards;
          .yimg2{
            animation: yimg1 0.5s;
            animation-fill-mode: forwards;
        }
        }
        .yimg2{
          position: absolute;
          top: -15px;
          left: 30%;
          width: 40%;
        }
        .gpBox{
          position: absolute;
          background-color: black;
          color: white;
          text-align: center;
          border-radius: 0 0 17px 17px;
          width: 100%;
          bottom: 0;
          height: 80px;
          .gp1{
            font-size: 30px;
            line-height: 60px;
          }
          .gp2{
            font-size: 20px;
            line-height: 10px;
          }
        }
      }

      .guides3{
        border: 3px solid gray;
        background-color: rgb(206, 206, 206);
        width: 280px;
        height: 150px;
        margin: auto;
        position: relative;
        border-radius: 20px;
        overflow: hidden;


          &:hover{
            animation: size1 0.5s;
            animation-fill-mode: forwards;
            .yimg3{
              animation: yimg1 0.5s;
              animation-fill-mode: forwards;
          }
        }
        .yimg3{
          position: absolute;
          top: 0;
          left: 30%;
          width: 40%;
        }
        .gpBox{
          position: absolute;
          background-color: black;
          color: white;
          text-align: center;
          bottom: 0;
          border-radius: 0 0 17px 17px;
          width: 100%;
          height: 80px;
          .gp1{
            font-size: 30px;
            line-height: 60px;
          }
          .gp2{
            font-size: 20px;
            line-height: 10px;
          }
        }
      }

    }
  }

  .readBox{
    margin: 0 80px 50px auto;
    width: 70%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    text-align: center;
    z-index: 6;
      .tabcontent{
        display: flex;
        flex-wrap: wrap;
        .tabtitlebox{
          color: white;
          display: flex;
          width: 100%;
          margin: 0 auto;
          justify-content: space-between;
          padding-right: 50px;
          margin: 10px 0;
          padding: 10px 0;
          border-bottom: 1px solid white;

          .mtb1{
            width: 80px;
          }
          .mtb2{
            width: 450px;
          }
          .mtb3{
            width: 150px;
          }
          .mtb4{
            width: 200px;
          }
          .mtb5{
            width: 80px;
          }
          .mtb6{
            width: 80px;
          }
        }

      .montpostbox{
        color: white;
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        padding-right: 50px;
        margin: 10px 0;
        padding: 10px 0;
        .mtb1{
          width: 80px;
        }
        .mtb2{
          width: 450px;
        }
        .mtb3{
          width: 150px;
        }
        .mtb4{
          width: 200px;
        }
        .mtb5{
          width: 80px;
        }
        .mtb6{
          width: 80px;
        }
      }
    }

    input{
      display: none;
      &:checked + label{
        color: orange;
        border-bottom: 5px solid orange;
      }
    }

    label{
      display: inline-block;
      cursor: pointer;
      width: 150px;
      height: 50px;
      line-height: 50px;
      color: white;
      border-bottom: 5px solid rgb(0, 0, 0);
    }

    .tabcontent{
      width: 100%;
      height: 380px;
      margin: 0 auto;
      display: none;
    }

  #tab1:checked ~ .box1{
        display: block;
  }
    #tab2:checked ~ .box2{
      display: block;
  }
  #tab3:checked ~ .box3{
    display: block;
  }
  }

  .rankUserBox{
    width: 100%;
    max-width: 1920px;
    height: 400px;
    margin: 50px 0;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    text-align: center;

    .rankUser{
      font-size: 50px;
      margin: 10px 0;
      padding-top: 10px;
    }

    ul{
      width: 100%;
      margin: 0 auto;
      font-size: 30px;
      li{
        width: 15%;
        display: inline-block;
        margin: 0 10px;
      }
      .rankNumber1{
        border-bottom: 3px solid orange;
        color: orange;
      }
      .rankNumber{
        color: gray;
        border-bottom: 3px solid gray;
      }
    }

    .rankUserImges{
      height: 180px;
      .rankUserImg{
        height: 150px;
        img{
          width: 100px;
          height: 100px;
          border-radius: 100%;
          margin: 50px auto;
          border: 3px solid white;
          background-color: white;
        }

        .rankUserImg1{
          border: 3px solid orange;
          background-color: orange;
        }
      }
    }

    .rankUserName{
      font-size: 30px;
    }
    .rankUserName1{
      color: orange;
      font-size: 30px;
    }

  }
}

@keyframes yimg1{
	0%{
    left: -100px;
    top: 0px;
  }
	100%{
    left: 70px;
    top: -10px;
  }
}
@keyframes size1{
    0%{

    }
    100%{
      top: 1%;
      height: 170px;
    }
}
