@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

.loginbox{
  position: relative;
  width: 416px;
  height: 186px;
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  border: 3px solid black;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  background-image: url("@/assets/profileimg/city.png");
  background-size: 650px 450px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  text-align: center;

  .btn1{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.706);
    border: 3px solid blue;
    width: 55%;
    height: 40px;
    line-height: 36px;
    margin: auto;
    color: white;


    &:hover{
      border: 5px solid blue;
      animation: test1 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .btn2{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.706);
    border: 3px solid yellow;
    width: 55%;
    height: 40px;
    line-height: 36px;
    color: white;
    margin: auto;
    &:hover{
      animation: test1 0.5s;
      animation-fill-mode: forwards;
      border: 5px solid yellow;
    }
  }

  .btn3{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.706);
    border: 3px solid green;
    width: 55%;
    height: 40px;
    line-height: 36px;
    margin: auto;
    color: white;
    &:hover{
      animation: test1 0.5s;
      animation-fill-mode: forwards;
      border: 5px solid green;
    }
  }
}

@keyframes test1{
	0%{

  }
	100%{
    background-color: rgb(255, 255, 255, 0.706);
    color: black;
  }
	}
