@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.mypagebox{
  width: 100%;
  max-width: 1920px;
  min-width: 1106px;
  height: 935px;
  max-width: 935px;
  min-width: 935px;
  position: relative;
  max-width: 1920px;
  min-width: 1106px;
  margin: 0 auto;
  font-family: 'Do Hyeon', sans-serif;

  .myProfile{
    position: relative;
    width: 1530px;
    height: 670px;
    margin: 0 auto;
    margin-top: 50px;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.336);
    z-index: 6;
    color: white;
    text-align: center;

    .mypageText{
      margin-top: 150px;
      font-size: 50px;
    }
    .mypageInput{
      margin: 10px auto;
      font-size: 30px;
      p{
        width: 600px;
        text-align: right;
        margin: auto;
        padding-right: 130px;
      input{
        border-bottom: 2px solid white;
      }
    }
    }
    .rebtn{
      width: 120px;
      height: 50px;
      line-height: 50px;
      font-size: 30px;
      border: 2px solid white;
      background-color: #000;
      margin: 10px 0 0 220px;
      &:hover{
        animation: color1 0.5s;
        animation-fill-mode: forwards;
      }
    }

  }

}
@keyframes color1{
	0%{

  }
	100%{
    background-color: white;
    color: #000;
  }
	}
