@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.postMainBox{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-width: 1106px;
  margin: 0 auto;
  font-family: 'Do Hyeon', sans-serif;
  color: white;
  font-size: 20px;

  .mainPost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: auto;
    z-index: 8;
    width: 100%;


    .allbox{
      width: 100%;
      display: flex;

      .proFileBox{
        width: 420px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.397);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .linebox1{
          height: 190px;
        }
        .linebox2{
          width: 100%;
          flex: 1;
          ul{
            text-align: center;
            margin-top: 100px;
            li{
              font-size: 30px;
              margin: 30px 0;
              &:hover{
                color: orange;
              }
            }
          }
        }
      }

      .postBox{
        width: 1300px;
        padding: 50px;
        border: 3px solid white;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 130px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;

        .postBoxContent1{
          width: 100%;
          font-size: 50px;
          display: flex;
          justify-content: space-between;

          .userbtn{
            button{
              margin-bottom: 20px;
              width: 90px;
              font-size: 25px;
              border-radius: 5px;
              border: 2px solid white;
              &:hover{
                animation: color 0.3s;
                animation-fill-mode: forwards;
              }
            }
          }

        }
        .postBoxContent2{
          width: 100%;
          font-size: 35px;
        }
        .postBoxContent3{
          width: 70px;
          height: 85px;
          img{
            border-radius: 100%;
            height: 70px;
            border: 2px solid white;
            background-color: white;
            margin-left: 10px;
            margin-top: 5px;
          }
          border-bottom: 1px solid white;
        }
        .postBoxContent4{
          text-align: center;
          width: 1110px;
          height: 75px;
          text-align: left;
          padding-left: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          p{
            width: 100%;
          }
          border-bottom: 1px solid white;
          padding-bottom: 15px;
          margin: 10px 0;
          padding-right: 65px;
        }
        .postBoxContent5{
          margin-top: 20px;
          width: 100%;
          img{
            width: 87%;
            margin: 0 auto;
          }
        }
      }
    }
    .postBoxContent6{
      width: 100%;
      margin: 20px 0;
      padding: 0 80px;
      margin-bottom: 50px;
    }
    .postBoxContent7{
      width: 100%;
      height: 40px;
      display: flex;
      padding: 0 80px;
      .PBC1{
        font-size: 25px;
        margin-right: 5px;
      }
      .PBC2{
        padding-top: 6px;
      }
    }
    .postBoxContent8{
      width: 100%;
      padding: 0 80px;
      border-bottom: 1px solid white;
      padding-bottom: 20px;
    }
    .commentBox{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 20px 80px;
      font-size: 25px;
      .commentBox1{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .commentBox2{
        width: 100%;
        height: 120px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.589);
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        img{
          float: left;
          width: 80px;
          border-radius: 100%;
          height: 80px;
          border: 2px solid white;
          background-color: white;
          margin: auto 0;
          margin-left: 20px;
        }
        .commentBox3{
          width: 900px;
          padding-left: 30px;
          .PBC1{
            margin-top: 20px;
            font-size: 30px;
            height: 30px;
            line-height: 30px;
          }
          .PBC2{
            font-size: 25px;
            margin-top: 5px;
            height: 30px;
            line-height: 30px;
          }
          .PBC3{
            color: rgba(255, 255, 255, 0.603);
            font-size: 15px;
            height: 20px;
            line-height: 20px;
          }
        }
      }
      .commentBox4{
        width: 100%;
        border-radius: 10px;
        margin: 15px 0;
        border: 1px solid rgba(255, 255, 255, 0.856);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        form{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: end;
          .PBC2{
            width: 1000px;
            height: 70px;
            margin-left: 30px;
            &:focus{
              outline:none;
            }
          }
          .PBC3{
            margin-right: 30px;
            margin-bottom: 20px;
          }
        }


        .PBC1{
          width: 95%;
          height: 30px;
          font-size: 30px;
          line-height: 30px;
          margin-left: 30px;
          margin-top: 20px;
        }
      }
    }

  }
}
@keyframes postcolor{
	0%{

  }
	100%{
    font-size: 40px;
    border-bottom: 3px solid white;
  }
}
@keyframes color{
	0%{
  }
	100%{
    background-color: white;
    color: black;
  }
	}
