@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.fullProfile{
  position: relative;
  width: 420px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;

  .profileBox{
    border: 3px solid black;
    width: 416px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("@/assets/profileimg/city.png");
    background-size: 650px 450px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #fff;


    .profile1{
      width: 120px;
      height: 80px;
      text-align: center;

    .profileImg{
      width: 100px;
      height: 100px;
      margin: 10px;
      background-color: white;
      border: 3px solid rgb(255, 255, 255);
    }

    }

    .profile2{
      width: 290px;
      height: 130px;
      padding: 10px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: right;

      .btnLink{
        color: white;
        text-decoration: none;
        &:hover{
          color: black;
        }
      }

      .userLink{
        width: 80px;
        height: 30px;
        margin: 0 5px;
        text-align: center;
        font-size: 17px;
        border-radius: 5px;
        background-color: black;
        color: white;
        border: 2px solid rgb(131, 131, 131)
      }

      .userLink:hover{
        animation: colorturn 0.5s;
        animation-fill-mode: forwards;
      }

      .userLevel{
        width: 100%;
        font-size: 20px;
        height: 25px;
        line-height: 5px;
        text-align: left;
        margin: 30px 0 0 0px;
        color: rgb(255, 255, 255);
        .username{
          font-size: 30px;
        }
      }

      .userText{
        width: 100%;
        height: 20px;
        line-height: 10px;
        text-align: left;
        margin: auto;
        color: rgb(255, 255, 255);
      }

    }

    .profile3{
      width: 100%;
      height: 50px;
      margin: auto;
      color: white;
      font-size: 25px;

      .profileButton{
        width: 30%;
        height: 100%;
        margin: 0 auto;

        .linkpage{
          text-decoration: none;
          color: white;
        }

        &:hover{
          animation: buttonline 0.5s;
          animation-fill-mode: forwards;
        }

      }
    }

  }


  .profile4{
    width: 416px;
    border: 3px solid black;
    background-color: #fff;
  }

  .profileAlert{
    width: 416px;
    border: 3px solid black;
    background-color: rgba(37, 37, 37, 0.815);

    .alertBox{
      background-color: white;
      width: 95%;
      height: 50px;
      line-height: 50px;
      margin: 10px auto;
      border: 3px solid black;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      p{
        margin-left: 10px;
      }

      .cancel{
        width: 30px;
        height: 30px;
        margin: auto 0;
        position: relative;

        .cancel1{
          position: absolute;
          top: 43%;
          left: -15%;
          transform: translate(-50%);
          background-color: black;
          width: 30px;
          height: 3px;
          transform: rotate( 45deg );
        }
        .cancel2{
          position: absolute;
          top: 43%;
          left: -15%;
          transform: translate(-50%);
          background-color: black;
          width: 30px;
          height: 3px;
          transform: rotate( -45deg );
        }
      }
    }
    .cancelButton{
      text-align: center;
      color: white;
      padding-bottom: 10px;
    }
  }

  .profile6{
    width: 416px;
    height: 330px;
    border: 3px solid black;
    background-color: #fff;
  }
}

@keyframes buttonline{
  0%{
    border-bottom: 3px solid rgb(0, 0, 0);
  }
  100%{
    border-bottom: 3px solid white;
  }
  }

  @keyframes colorturn{
    0%{
      background-color: black;
      color: white;
    }
    100%{
      background-color: white;
      color: black;
    }
    }
