@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.videobox {
  margin: 10px;
  position: relative;

  .myVideo {
    transform: rotate(90deg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  video {
    width: 360px;
    background-color: orange;
    // border: 3px solid white;
    position: relative;
    z-index: 1;
  }
  canvas {
    width: 361px;
    border: 3px solid white;
    top: -203px;
    position: relative;
    z-index: 2;
  }
  .userInfo {
    width: 361px;
    height: 30px;
    line-height: 30px;
    // padding-left: 5px;
    top: -203px;
    background-color: #ffffff;
    position: relative;
  }
  .userInfo2 {

  }
}
